<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Initialsetting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- // <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- build:js(.) scripts/plugins.js -->
  <script src="bower_components/bootstrap/js/dist/alert.js"></script>
  <script src="bower_components/bootstrap/js/dist/button.js"></script>
  <script src="bower_components/bootstrap/js/dist/carousel.js"></script>
  <script src="bower_components/bootstrap/js/dist/collapse.js"></script>
  <script src="bower_components/bootstrap/js/dist/dropdown.js"></script>
  <script src="bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="bower_components/bootstrap/js/dist/popover.js"></script>
  <script src="bower_components/bootstrap/js/dist/scrollspy.js"></script>
  <script src="bower_components/bootstrap/js/dist/tab.js"></script>
  <script src="bower_components/bootstrap/js/dist/tooltip.js"></script>
  <script src="bower_components/bootstrap/js/dist/util.js"></script>
  <!-- endbuild -->


</head>
<body>

<div class="container init">
  <h2>初期情報</h2>
  <form role="form">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Sakimori Katsutaka">
    </div>

    <div class="form-group">
      <label for="birthday">Birthday:</label>
      <input type="birthday" class="form-control" id="birthday" placeholder="1988年4月27日">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="sakimori.ka@jp.fujitsu.com">
    </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="1234567890">
    </div>

    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>

    <button type="submit" class="btn btn-default">登録</button>
  </form>
</div>

</body>
</html>
