<!DOCTYPE html>
<html id = 'camerahtml'>
  <head>
    <meta charset="utf-8">
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <script src="components/camera/camera.js"></script>
    <title>キャプチャー</title>
    <script src=""></script>
  </head>
  <body>
    <p class = "camera">画像を選択を選択してください。</p>
    <input type="file" id="fileimage" accept="image/*">
    <div id="printimg">
      <canvas id="mycanvas">Canvas対応のブラウザで開いて下さい。</canvas>
    </div>
    <a class="waves-effect waves-light btn" id = "registimg">登録</a>
    <canvas id="mycanvasout">Canvas対応のブラウザで開いて下さい。</canvas>
    <script src="components/camera/canvas.js"></script>
  </body>
</html>
